<a href="https://colab.research.google.com/github/vamsi2805/ASSIGNMENT-6/blob/master/assignment_6_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1. Convert Binary number to decimal

In [2]:
num=int(input("Enter binary value of a number: "))
decimal=0
base_value=1
temp=num

while temp!=0:
    last_digit=temp%10
    temp=int(temp/10)
    decimal+=last_digit*base_value
    base_value=base_value*2
print("The value of binary number",num,"in decimal is",decimal)

Enter binary value of a number: 150
The value of binary number 150 in decimal is 14

2. Generate first N number of Fibonacci numbers. Take N value from user

In [3]:
n= int(input("Enter the value of n: "))
n1, n2 = 0,1 
count=0
print("Fibonacci Sequence upto",n,"terms is: ")
while count<n:
    print(n1)
    nth=n1+n2
    n1=n2
    n2=nth
    count+=1

Enter the value of n: 10
Fibonacci Sequence upto 10 terms is:
0
1
1
2
3
5
8
13
21
34

In [ ]:
3. Display multiplication table of K. Take k value from user

In [4]:
k=int(input("Enter the number to print multiplication table: "))
print("multiplication table:")
for i in range(1,11):
    print(k,"*",i,"=",k*i)

Enter the number to print multiplication table: 9
multiplication table:
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

4. Take 10 integers from keyboard using loop and print their average value on the screen Print the following patterns using loop :

In [5]:
rows = 4
for row in range(1, rows+1):
    for column in range(1, row + 1):
        print("*", end="")
    print("")

*
**
***
****

5. Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.

In [6]:
import math
a= int(input("Enter number 1: "))
b= int(input("Enter number 2: "))
print(math.gcd(a,b),"is the GCD of",a,"and",b)

Enter number 1: 5
Enter number 2: 6
1 is the GCD of 5 and 6

6. Program that accepts a word from the user and reverses it.

In [7]:
word=input("Enter a word: ")
reverse= word[::-1]
print("Reverse of",word,"is",reverse)

Enter a word: BAND BANG
Reverse of BAND BANG is GNAB DNAB

7. Program to count the number of even and odd numbers from a series of numbers.

In [8]:
start=int(input("Enter the starting number of the sequence: "))
end=int(input("Enter the ending number of the sequence: "))
count_even=0
count_odd=0
for num in range(start,end+1):
    if num%2==0:
        count_even+=1
    else:
        count_odd+=1
print("The number of even numbers:",count_even)
print("The number of odd numbers",count_odd)

Enter the starting number of the sequence: 1
Enter the ending number of the sequence: 99
The number of even numbers: 49
The number of odd numbers 50

8. Program that prints all numbers from 0 to 6 except 3 and 6.

In [10]:
for num in range(0,9):
    if num==3:
        continue
    print(num)

0
1
2
4
5
6
7
8